<div class="modal" [class.d-block]="open" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" [class.d-none]="showHeader == false">
          <h5 class="modal-title">{{ title }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="Close()"></button>
        </div>
        <div class="modal-body">
            <ng-content select="[body]"></ng-content>
        </div>
        <div class="modal-footer" [class.d-none]="showFooter == false">
            <ng-content select="[footer]"></ng-content>
        </div>
      </div>
    </div>
  </div>